<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" type="text/css" href="/css/reset.css" />
    <link rel="stylesheet" type="text/css" href="/css/common.css" />
    <link rel="stylesheet" type="text/css" href="/css/index.css" />
    <style>
        #list1 {
				width: 1140px;
				height: 457px;
				position: relative;
				left: 0;
				top: 0;
            }
            #list1 li a{
                display: block;
                width: 1140px;
				height: 457px;
            }
			#list1 li, #list1 img {
				width: 1140px;
                height: 457px;
			}
			#list1 li {
				float: left;
			}
			#list2  {
				width: 150px;
				height: 20px;
				position: absolute;
				right: 580px;
				bottom: 110px;text-align: center;
			}
			#list2 li {
				width: 10px;
				height: 10px;
				border-radius: 50%;
				background: white;
				line-height: 20px;
				margin-left: 8px;
				float: left;
				cursor: pointer;
			}
			
			#list2 li.active {
				background: red;
			}

    </style>
</head>
<body>
    <div id="header-wrapper">
    	<div class="header-inner">
        	<div class="logo">
           		<h1>
                	<a href="#" title="欢迎来到麦田国际">麦田国际</a>
                </h1> 
            </div>
            <div class="nav">
            	<ul class="clear">
                	<li>
                    	<a href="#" style=" background:#f75a53; border-radius:5px 5px 0 0; text-decoration:none;color:#fff; ">网站首页</a>
                    </li>
                	<li>
                    	<a href="/index/about">关于我们</a>
                    </li>
                	<li>
                    	<a href="/index/news">新闻资讯</a>
                    </li>
                	<li>
                    	<a href="/index/successful_case">成功案例</a>
                    </li>
                	<li>
                    	<a href="index/service">尊享服务</a>
                    </li>
                	<li>
                    	<a href="#">招商加盟</a>
                    </li>
                	<li>
                    	<a href="#">联系我们</a>
                    </li>
                </ul>
            </div>
        </div>
</div>
<div id="banner-wrapper">
    	<div class="banner">
            <ul id="list1">
                <% for(var i=0;i<list.length;i++){ %>
                <li><a href="#"><img src="<%='/'+list[i].face%>" title="麦田国际" alt="麦田国际"/></a></li>
                <% } %>
            </ul> 
            <ul id="list2">
                <% for(var i=0;i<list.length;i++){ %>
                <li class=""></li>
                <% } %>
				
			</ul>
        </div>
    
</div>
<div id="main">
        <div id="main_top-wrapper">
        
           <div class="main_top">
               <h2>战略合作 Strategic partners</h2>
               <h3>真诚、共赢、无微不至</h3>
               <ul class="clear">
               <li><a href="#"><img src="images/mian1_image1.jpg" /></a></li>
               <li><a href="#"><img src="images/mian1_image2.jpg" /></a></li>
               <li><a href="#"><img src="images/mian1_image3.jpg" /></a></li>
               <li><a href="#"><img src="images/mian1_image4.jpg" /></a></li>
               <li><a href="#"><img src="images/mian1_image5.jpg" /></a></li>
               <li><a href="#"><img src="images/mian1_image6.jpg" /></a></li>
               <li><a href="#"><img src="images/mian1_image7.jpg" /></a></li>
               <li><a href="#"><img src="images/mian1_image8.jpg" /></a></li>
               <li><a href="#"><img src="images/mian1_image9.jpg" /></a></li>
               <li><a href="#"><img src="images/mian1_image10.jpg" /></a></li>
               <li><a href="#"><img src="images/mian1_image11.jpg" /></a></li>
               <li><a href="#"><img src="images/mian1_image12.jpg" /></a></li>
               </ul>
               
           </div>
        
        
        </div>
        <div id="main_center-wrapper">
               <div class="main_center">
              
                   <h2>我们的优势 Our Advantages </h2>
                   <h3>独一无二的设计、造国际品质的产品，行无微不至的服务</h3>
                   <ul>
                   <li><h3>我们的设计 Our Design</h3><h4>从实地到方案敲定再到设计出图，每一步都有优秀的设计团队全程跟踪，为您打造出最合适的作品是最诚恳的义务。</h4><img src="images/mian2_image1.jpg" /></li>
                   <li><h3>我们的设计 Our Design</h3><h4>从实地到方案敲定再到设计出图，每一步都有优秀的设计团队全程跟踪，为您打造出最合适的作品是最诚恳的义务。</h4><img src="images/mian2_image2.jpg" /></li>
                   <li style=" margin-right:0;"><h3>我们的设计 Our Design</h3><h4>从实地到方案敲定再到设计出图，每一步都有优秀的设计团队全程跟踪，为您打造出最合适的作品是最诚恳的义务。</h4><img src="images/mian2_image3.jpg" /></li>
                   
                   
                   </ul>
               
               </div>
        
        
        </div>
        <div id="main_bottom-wrapper">
                  <div class="main_bottom">
                       <h2>原创案例 Successful Case </h2>
                       <h3>始终以建设温馨、和谐的家园、提升你的居家生活品味为己任。</h3>
                       <div id="teach" class="main_bottom-nav clear">
                       <% for(var i=0;i<newscate.length;i++){ %>
                        <a class="active" data-id="<%=newscate[i]._id%>" href="#"><%=newscate[i].name%>  <img src="images/jiao.png" /></a>
                       <% } %> 
                       </div>
                       <div class="main_bottom-table">
                           <ul  class="clear clearActive">
                           
                           <!-- <li><a href="#"><img src="images/mian3_image1.jpg" alt="&nbsp;"/></a></li>
                           <li><a href="#"><img src="images/mian3_image2.jpg" alt="&nbsp;" /></a></li>
                           <li style=" margin-right:0"><a href="#"><img src="images/mian3_image3.jpg"  alt="&nbsp;"/></a></li>
                           <li><a href="#" style=" margin-bottom:0"><img src="images/mian3_image4.jpg" alt="&nbsp;" /></a></li>
                           <li><a href="#" style=" margin-bottom:0"><img src="images/mian3_image5.jpg" alt="&nbsp;"/></a></li>
                           <li style=" margin-right:0; margin-bottom:0"><a href="#"><img src="images/mian3_image6.jpg"  alt="&nbsp;"/></a></li> -->
                           
                           
                           
                           </ul>
                           
                       
                       
                       </div>
                      
                      
                  
                  
                  </div>
         
        
        
        </div>
</div>     
<div id="footer_nav-wrapper">
             <div class="footer_nav clear">
                 <dl>
                     <dt>公司新闻 Company News</dt>
                     <dd>一款APP从设计稿到切图过程全方位揭秘<span>10-10</span></dd>
                     <dd>一款APP从设计稿到切图过程全方位揭秘<span>10-10</span></dd>
                     <dd>一款APP从设计稿到切图过程全方位揭秘<span>10-10</span></dd>
                     <dd>一款APP从设计稿到切图过程全方位揭秘<span>10-10</span></dd>
                     <dd>一款APP从设计稿到切图过程全方位揭秘<span>10-10</span></dd>
                     <dd>一款APP从设计稿到切图过程全方位揭秘<span>10-10</span></dd>
                     <a href="#">MORE INFO →</a>
                     
                 </dl>
                  <dl>
                     <dt>公司新闻 Company News</dt>
                     <dd>一款APP从设计稿到切图过程全方位揭秘<span>10-10</span></dd>
                     <dd>一款APP从设计稿到切图过程全方位揭秘<span>10-10</span></dd>
                     <dd>一款APP从设计稿到切图过程全方位揭秘<span>10-10</span></dd>
                     <dd>一款APP从设计稿到切图过程全方位揭秘<span>10-10</span></dd>
                     <dd>一款APP从设计稿到切图过程全方位揭秘<span>10-10</span></dd>
                     <dd>一款APP从设计稿到切图过程全方位揭秘<span>10-10</span></dd>
                     <a href="#">MORE INFO →</a>
                     
                 </dl>
                  <dl style=" margin-right:0;">
                     <dt>公司新闻 Company News</dt>
                     <dd>一款APP从设计稿到切图过程全方位揭秘<span>10-10</span></dd>
                     <dd>一款APP从设计稿到切图过程全方位揭秘<span>10-10</span></dd>
                     <dd>一款APP从设计稿到切图过程全方位揭秘<span>10-10</span></dd>
                     <dd>一款APP从设计稿到切图过程全方位揭秘<span>10-10</span></dd>
                     <dd>一款APP从设计稿到切图过程全方位揭秘<span>10-10</span></dd>
                     <dd>一款APP从设计稿到切图过程全方位揭秘<span>10-10</span></dd>
                     <a href="#">MORE INFO →</a>
                     
                 </dl>
                 
             
</div>
        
        
        
        
        </div>
        
<div id="footer-wrapper">
            <div class="footer-inner">
                <p>
                    <a href="#">网站首页</a>&nbsp;&nbsp;|&nbsp;
                    <a href="#">关于我们</a>&nbsp;&nbsp;|&nbsp;
                    <a href="#">产品展示</a>&nbsp;&nbsp;|&nbsp;
                    <a href="#">客户案例</a>&nbsp;&nbsp;|&nbsp;
                    <a href="#">新闻资讯</a>&nbsp;&nbsp;|&nbsp;
                    <a href="#">帮助中心</a>&nbsp;&nbsp;|&nbsp;
                    <a href="#">解决方案</a>&nbsp;&nbsp;|&nbsp;
                    <a href="#">联系我们</a>&nbsp;&nbsp;&nbsp;&nbsp;
                </p>
                <p>Copyright © 2002-2015上海机械设备服务有限公司 版权所有 Power by DedeCms</p>
                <p>电话：15918779820 E-mail：89898981@qq.com 地址：上海市沙河广园东路1858新天地服装城</p>
            </div>
</div>
<script src="/js/jquery-1.12.3.js"></script>
     <script>
                $(function(){
                    
                    //轮播图
                    var list1 = $("#list1");
                    var list2 = $("#list2");
                    var li1 = $("#list1 li");
                    var li2 = $("#list2 li");
                    
                    //复制第一张图到最后
                    li1.first().clone(true).appendTo(list1);
                    
                    //
                    var size = $("#list1 li").size();
                    list1.width(1140*size);
                    
                    //开启定时器
                    var i = 0;
                    var timer = setInterval(function(){
                        i++;
                        move();
                    }, 2000);
                    
                    function move(){
                        
                        if (i < 0) {
                            list1.css("left", -1140*(size-1));
                            i = size-2;
                        }
                        
                        if (i >= size){
                            list1.css("left", 0);
                            i = 1;
                        }
                        
                        list1.stop().animate({left:-i*1140}, 500);
                        
                        li2.eq(i).addClass("active").siblings().removeClass("active");
                        if (i == size-1) {
                            li2.eq(0).addClass("active").siblings().removeClass("active");
                        }
                    }
                    
                    li2.mouseenter(function(){
                        i = $(this).index();
                        move();
                    })
                    
                    $("#box").hover(function(){
                        console.log("mouseenter");
                        clearInterval(timer);
                    }, 
                    function(){
                        console.log("mouseleave");
                        timer = setInterval(function(){
                            i++;
                            move();
                        }, 2000);
                    })
                    
                    
                })
                var URL = 'http://localhost:3002/api';
                $.get(URL,function(data){
                 
                    $('.active').mouseenter(function(){
                        var str='';
                        // var dataId=$(this).attr('data-id');
                        console.log(data.list);
                        for(var i=0;i<data.list.length;i++){                     
                            if(data.list[i].cid == $(this).attr('data_id')){                            
                                str+='<li>'+data.list[i].title+'</li>'
                            }
                           
                        }
                         $('.clearActive').html(str);
                    })
                  
                })
            </script> 
</body>
</html>